body {
  background-color: #91b5e9;
  background-image: linear-gradient(to bottom, #ffffff, #91b5e9);
  background-repeat: no-repeat;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 1px 20px 20px 20px;
  display: block;
}

h1 {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: #002171;
  background-image: url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 15px;
  height: 60px;
  text-align: center;
}

nav {
  background-color: white;
  color: white;
  font-weight: bold;
  line-height: 200%;
  text-align: center;
  padding: 1em;
}

nav a {
  text-decoration: none;
}

h2 {
  color: #1976d2;
  text-shadow: 1px 1px 0 #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: #000033;
  font-family: Georgia, "Times New Roman", Times, serif;
}

dt {
  color: #002171;
}

footer {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 75%;
  text-align: center;
  padding: 2em;
}

ul {
  list-style-image: url(../images/marker.gif);
}

.resort {
  color: #1976d2;
  font-weight: bold;
}

.contact {
  color: black;
  font-size: 90%;
}

#coast {
  width: 100%;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px 0 #333333;
}

#homeHero {
  background-image: url(../images/coast.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
}

#yurtsHero {
  background-image: url(../images/yurt.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
}

#activitiesHero {
  background-image: url(../images/trail.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
}
