body {
  background-color: white;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #002171;
  color: #ffffff;
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  background-color: #bbeefd;
  color: white;
  font-weight: bold;
  line-height: 200%;
}

nav a {
  text-decoration: none;
}

h2 {
  color: #1976d2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: #000033;
  font-family: Georgia, "Times New Roman", Times, serif;
}

dt {
  color: #002171;
}

footer {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.resort {
  color: #1976d2;
}

.contact {
  color: black;
}
